body {
    width: 80%;
    margin: 0 auto;
}
.nav {
  float: right;
  margin-left: 50%;
}
.sea_rch {
    width: 70%;
}
form {
    width: 70%;
    margin: 10px auto;
}
.numrows {
  padding: 5px;
  font-weight: bold;
  margin: auto;
  width: 70%;
}
/* .country-table  {
    margin-top: 10px;
    width: 70%;
    margin: 0 auto;
} */
.country-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding-top: 12px;
    width: 70%;
    margin: 0 auto;
    height: 600px;
    overflow: scroll;
  }
  th {
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  
  .country-table td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .country-table tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  .country-table tr:hover {
    background-color: #ddd;
  }
  
  .country-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
 .details {
    width: 70%;
    margin: auto;
  }